<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <h1>Rust Website</h1>
        {% block nav %}
        <nav>
            <a href="/">View posts</a>
            <a href="/new_post">New post</a>
        </nav>
        {% endblock %} {% block main %} {% endblock %}
    </body>
</html>
