{% extends "base.html" %} {% block main %}
<h2>Edit Post</h2>
<form action="/edit_post" method="POST">
    <label for="title">Title:</label> <br />
    <input type="text" id="title" name="title" value="{{ post.title }}" />
    <br />

    <label for="content">Content:</label> <br />
    <textarea id="content" name="content" rows="5" cols="80">
{{ post.content }}</textarea
    >

    <input type="hidden" id="id" name="id" value="{{ post.id }}" />

    <br />
    <input type="submit" value="Save" />
</form>
{% endblock %}
